@charset "UTF-8";

/*共通*/

body {
    height: 100%;
    margin: 0 15%;
    background-color: azure;
}

#wrap {
    height: 100%;
}

#header {
    width: 100%;
    height: 80px;
    text-align: center;
    display: table;
    background-color: cornflowerblue;
}

#main {
    height: 500px;
    padding-top: 25px;
}

#footer {
    margin-top: 0px;
    border-top: 1px solid black;
    padding: 10px 0;
    font-size: 20px;
    clear: both;
}

/*index.html用*/

#wrap .index {
    height: 425px;
    padding-top: 100px;
}
#main h3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#main form {
    height: 200px;
    margin-top: 30px;
    text-align: center;
}

#main #username {
    width: 40%;
    padding: 5px;
    font-size: 20px;
}

#button {
    margin-top: 30px;
}

#button input {
    width: 70px;
    height: 40px;
    font-size: 20px;
}

/*startGW用*/

#waitText {
    text-align: center;
    margin-top: 30%;
    padding: 0;
    font-size:32px;
}

/*execGW用*/

.timer {
    display: table-cell;
    vertical-align: middle;
}

#wordArea {
    height: 59px;
    padding: 20px 60px;
    text-align: center;
}

.word {
    width: 80px;
    font-size: 40px;
}

#symbol {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
}

#inputArea {
    margin: 25px 0 15px 0;
    padding: 50px 100px;
    background-color: cornflowerblue;
}

#content {
    width: 80%;
    height: 55px;
    font-size: 18px;
}

#submit{
    width: 15%;
    height: 55px;
    margin: 0 0 0 2%;
    font-size: 13px;
}

#timeLine {
    width: 70%;
    height: 200px;
    margin-right: 30px;
    float: left;
}

#TLtitle {
    height: 15%;
    margin-bottom: 0;
}

ul {
    list-style: circle;
}

#ListArea {
    height: 70%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.ListContent {
    border-bottom: 1px solid darkgray;
    font-size: 20px;
}

/*result.php用*/

#tableArea {
    width: 100%;
    height: 90%;
    overflow: auto;
}

.resultData {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
}

.resultData thead th{
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-collapse: separate;
}

.resultData tbody td {
    padding: 10px;
    border: 1px solid cornflowerblue;
    border-collapse: separate;
    background-color: rgb(214, 253, 253);
}

